html, body {
	background-color: #2C74CE;
	text-align: center;
	font-size: 24px;
}

.wrap{
	width: 400px;
	margin: 0 auto;
}

header,
nav,
#sidebar,
aside,
main,
article,
footer {
	background: grey;
	padding: 20px;
	margin: 20px 0;
	box-sizing: border-box;
	vertical-align: top;
}

aside {
	background: #000;
}

article {
	background: yellow;
}

#sidebar,
main {
	display: inline-block;
	height: 300px;
	vertical-align: middle;
}

#sidebar {
	width: 40%;

}

main {
	width: 60%;
	margin-left: 20px;
}



